{% extends 'base/base.html' %}
{% block header %}
<!--cARGAMOS LIBRERIAS ADICIONALES PARA MOSTRAR LA TABLA-->
<link rel="stylesheet" href="{{ static('css/jquery.dataTables.min.css') }}">
<script src="{{ static('js/jquery.dataTables.min.js') }}"></script>
{% endblock %}
{% block title_content %}
<div class="row border">
   <div class="col-4">
      <i class="fa fa-tags"></i>
      <small>
         <i class="fas fa-user"></i>
         <strong class="text-success">{{ request.user | upper }}</strong>
         Administrador de Etiquetas
      </small>
   </div>
   <div class="col-8 text-right">
      <span>{{ request.enterprise.nombre }}</span>
   </div>
</div>
{% endblock title_content %}
{% block content %}
<div id="app">
   <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
         <button class="nav-link active" id="home-tab" data-toggle="tab" data-target="#home" type="button" role="tab"
            aria-controls="home" aria-selected="true">
            <i class="fa fa-tags text-info"></i> Etiquetas Pendietes <label class="badge badge-light">{{ data.labels['total_inactive'] }}</label></button>
      </li>
      <li class="nav-item" role="presentation">
         <button class="nav-link" id="invalidated_tags-tab" data-toggle="tab" data-target="#invalidated_tags"
            type="button" role="tab" aria-controls="invalidated_tags" aria-selected="false"><i
               class="fa fa-tags text-warning"></i> Etiquetas Con Error <label class="badge badge-light">{{ data.labels['total_error'] }}</label></button>
      </li>
      <li class="nav-item" role="presentation">
         <button class="nav-link" id="labels_returned-tab" data-toggle="tab" data-target="#labels_returned"
            type="button" role="tab" aria-controls="contact" aria-selected="false"><i
               class="fa fa-tags text-danger"></i> Etiquetas Devueltas <label class="badge badge-light">{{ data.labels['total_rejected'] }}</label></button>
      </li>
      <li class="nav-item" role="presentation">
         <button class="nav-link" id="activated_lables-tab" data-toggle="tab" data-target="#activated_lables"
            type="button" role="tab" aria-controls="activated_lables" aria-selected="false"> <i
               class="fa fa-tags text-success"></i> Etiquetas Activadas <label class="badge badge-light">{{ data.labels['total_active'] }}</label></button>
      </li>
   </ul>
   <br>
   <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active bordered" id="home" role="tabpanel" aria-labelledby="home-tab">
         <table class="table table-striped table-condensed table-bordered" id="table_labels_pending">
            <thead>
               <tr>
                  <th>#</th>
                  <th>Pedido</th>
                  <th>Producto</th>
                  <th>Notas</th>
                  <th>Rango</th>
                  <th>Unidades</th>
                  <th>Registro</th>
                  <th>STS</th>
                  <th>Acciones</th>
               </tr>
            </thead>
            <tbody>
               {% for etiqueta in data.labels['inactive'] %}
               <tr>
                  <td>{{ loop.index }}</td>
                  <td class="text-center">
                     <a href="/etiquetas/detalle/{{ etiqueta.id_factura_detalle.id_pedido_factura.nro_pedido }}/"
                        class="text-dark">
                        {{ etiqueta.id_factura_detalle.id_pedido_factura.nro_pedido }}
                     </a> -->
                     <a
                        href="{{request.enterprise.url_app_importaciones}}index.php/pedido/presentar/{{ etiqueta.id_factura_detalle.id_pedido_factura.nro_pedido }}">
                        [{{ etiqueta.parcial }}]
                     </a>
                  </td>
                  <td><a href="/admin/labels/label/{{etiqueta.id_label}}" target="_blank" rel="noopener noreferrer">{{
                        etiqueta.id_factura_detalle.product[:40] }}</a></td>
                  <td class="">{{ etiqueta.notas[40:] if etiqueta.notas else '--' }}</td>
                  <td class="text-center">{{ etiqueta }}</td>
                  <td class="text-right">{{ etiqueta.quantity }}</td>
                  <td class="text-right">{{ etiqueta.date_created.strftime('%d/%h/%Y %H:%M') }}</td>
                  <td class="text-center">{{ etiqueta.bg_status }}</td>
                  <td class="text-center">
                     <a href="?action=activate_pk&pk={{etiqueta.id_label}}" class="text-success"><i class="fa fa-paper-plane"></i></a> |
                     <a href="?action=move_to_error&pk={{etiqueta.id_label}}" class="text-danger"><i class="fa fa-ban"></i></a>
                  </td>
               </tr>
               {% endfor %}
            </tbody>
         </table>
         <a href="?action/activate_all/pk=0" class="btn btn-outline-dark btn-sm">
            <i class="fa fa-check"></i> Activar Todo
         </a>
      </div>
      <div class="tab-pane fade" id="invalidated_tags" role="tabpanel" aria-labelledby="invalidated_tags-tab">
         <table class="table table-striped table-condensed table-bordered" id="table_labels_error">
            <thead>
               <tr>
                  <th>#</th>
                  <th>Pedido</th>
                  <th>Producto</th>
                  <th>Notas</th>
                  <th>Rango</th>
                  <th>Unidades</th>
                  <th>Registro</th>
                  <th>Firma</th>
                  <th>Validacion</th>
                  <th>STS</th>
                  <th>Acciones</th>
               </tr>
            </thead>
            <tbody>
               {% for etiqueta in data.labels['error'] %}
               <tr>
                  <td>{{ loop.index }}</td>
                  <td class="text-center">
                     <a href="/etiquetas/detalle/{{ etiqueta.id_factura_detalle.id_pedido_factura.nro_pedido }}/"
                        class="text-dark">
                        {{ etiqueta.id_factura_detalle.id_pedido_factura.nro_pedido }}
                     </a> -->
                     <a
                        href="{{request.enterprise.url_app_importaciones}}index.php/pedido/presentar/{{ etiqueta.id_factura_detalle.id_pedido_factura.nro_pedido }}">
                        [{{ etiqueta.parcial }}]
                     </a>
                  </td>
                  <td><a href="/admin/labels/label/{{etiqueta.id_label}}" target="_blank" rel="noopener noreferrer">{{
                        etiqueta.id_factura_detalle.product[:40] }}</a></td>
                  <td class="">{{ etiqueta.notas[40:] if etiqueta.notas else '--' }}</td>
                  <td class="text-center">{{ etiqueta }}</td>
                  <td class="text-right">{{ etiqueta.quantity }}</td>
                  <td class="text-right">{{ etiqueta.date_created.strftime('%d/%h/%Y %H:%M') }}</td>
                  <td class="text-right">
                     {% if etiqueta.validated_date %}
                        {{ etiqueta.validated_date.strftime('%d/%h/%Y %H:%M') }}
                     {% endif %}
                  </td>
                  <td class="text-right">
                     {% if etiqueta.signed_date %}
                        {{ etiqueta.signed_date.strftime('%d/%h/%Y %H:%M') }}
                     {% endif %}
                  </td>
                  <td class="text-center">{{ etiqueta.bg_status }}</td>
                  <td class="text-center">
                     <a href="?action=move_to_inactive&pk={{etiqueta.id_label}}" class="text-danger"><i class="fa fa-ban"></i></a>
                  </td>
               </tr>
               {% endfor %}
            </tbody>
         </table>
         <a href="?action=move_all_to_inactive&pk=0" class="btn btn-outline-dark btn-sm">
            <i class="fa fa-inbox"></i> Mover todo a Inactivos
         </a>
      </div>
      <div class="tab-pane fade" id="labels_returned" role="tabpanel" aria-labelledby="labels_returned-tab">
            <table class="table table-striped table-condensed table-bordered" id="table_labels_rejected">
               <thead>
                  <tr>
                     <th>#</th>
                     <th>Pedido</th>
                     <th>Producto</th>
                     <th>Notas</th>
                     <th>Rango</th>
                     <th>Unidades</th>
                     <th>Registro</th>
                     <th>Firma</th>
                     <th>Validacion</th>
                     <th>STS</th>
                     <th>Acciones</th>
                  </tr>
               </thead>
               <tbody>
                  {% for etiqueta in data.labels['rejected'] %}
                  <tr>
                     <td>{{ loop.index }}</td>
                     <td class="text-center">
                        <a href="/etiquetas/detalle/{{ etiqueta.id_factura_detalle.id_pedido_factura.nro_pedido }}/"
                           class="text-dark">
                           {{ etiqueta.id_factura_detalle.id_pedido_factura.nro_pedido }}
                        </a> -->
                        <a
                           href="{{request.enterprise.url_app_importaciones}}index.php/pedido/presentar/{{ etiqueta.id_factura_detalle.id_pedido_factura.nro_pedido }}">
                           [{{ etiqueta.parcial }}]
                        </a>
                     </td>
                     <td><a href="/admin/labels/label/{{etiqueta.id_label}}" target="_blank" rel="noopener noreferrer">{{
                           etiqueta.id_factura_detalle.product[:40] }}</a></td>
                     <td class="">{{ etiqueta.notas[40:] if etiqueta.notas else '--' }}</td>
                     <td class="text-center">{{ etiqueta }}</td>
                     <td class="text-right">{{ etiqueta.quantity }}</td>
                     <td class="text-right">{{ etiqueta.date_created.strftime('%d/%h/%Y %H:%M')}}</td>
                     <td class="text-right">
                        {%if etiqueta.validated_date %}
                           {{etiqueta.validated_date.strftime('%d/%h/%Y %H:%M')}}
                        {%endif%}
                     </td>
                     <td class="text-right">
                        {%if etiqueta.signed_date %}
                           {{etiqueta.signed_date.strftime('%d/%h/%Y %H:%M')}}
                        {%endif%}
                     </td>
                     <td class="text-center">{{ etiqueta.bg_status }}</td>
                     <td class="text-center">
                        <a href="?action=move_to_inactive&pk={{etiqueta.id_label}}" class="text-danger"><i class="fa fa-ban"></i></a>
                     </td>
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
      </div>
      <div class="tab-pane fade" id="activated_lables" role="tabpanel" aria-labelledby="activated_lables-tab">
<table class="table table-striped table-condensed table-bordered" id="table_labels_valid">
   <thead>
      <tr>
         <th>#</th>
         <th>Pedido</th>
         <th>Producto</th>
         <th>Notas</th>
         <th>Rango</th>
         <th>Unidades</th>
         <th>Registro</th>
         <th>Firma</th>
         <th>Validación</th>
         <th>Activación</th>
         <th>STS</th>
      </tr>
   </thead>
   <tbody>
      {% for etiqueta in data.labels['active'] %}
      <tr>
         <td>{{ loop.index }}</td>
         <td class="text-center">
            <a href="/etiquetas/detalle/{{ etiqueta.id_factura_detalle.id_pedido_factura.nro_pedido }}/"
               class="text-dark">
               {{ etiqueta.id_factura_detalle.id_pedido_factura.nro_pedido }}
            </a> -->
            <a
               href="{{request.enterprise.url_app_importaciones}}index.php/pedido/presentar/{{ etiqueta.id_factura_detalle.id_pedido_factura.nro_pedido }}">
               [{{ etiqueta.parcial }}]
            </a>
         </td>
         <td><a href="/admin/labels/label/{{etiqueta.id_label}}" target="_blank" rel="noopener noreferrer">{{
               etiqueta.id_factura_detalle.product[:80] }}</a></td>
         <td class="">{{ etiqueta.notas[40:] if etiqueta.notas else '--' }}</td>
         <td class="text-center">{{ etiqueta }}</td>
         <td class="text-right">{{ etiqueta.quantity }}</td>
         <td class="text-right">{{ etiqueta.date_created.strftime('%d/%h/%Y %H:%M') }}</td>
         <td class="text-right">{{ etiqueta.validated_date.strftime('%d/%h/%Y %H:%M') }}</td>
         <td class="text-right">{{ etiqueta.signed_date.strftime('%d/%h/%Y %H:%M') }}</td>
         <td class="text-right">
            {%if etiqueta.activated_date %}
               {{ etiqueta.activated_date.strftime('%d/%h/%Y %H:%M') }}
            {%endif%}
         </td>
         <td class="text-center">{{ etiqueta.bg_status }}</td>
      </tr>
      {% endfor %}
   </tbody>
</table>
      </div>
   </div>
</div>
{% block footer %}
<script>
   $(document).ready(function () {
      $('#table_labels_pending').dataTable();
      $('#table_labels_validated').dataTable();
      $('#table_labels_error').dataTable();
      $('#table_labels_rejected').dataTable();
      $('#table_labels_valid').dataTable();
   });
</script>
{% endblock %}
{% endblock content %}