{% extends 'base/base.html' %}
{% block title_content %}
<div class="row border">
   <div class="col-4">
      <i class="fa fa-cog"></i>
      Saldo Mayor 
   </div>
   <div class="col-8 text-right">
      Detalle de Saldos por pedidos
   </div>
</div>
{% endblock title_content %}
{% block content %}
<div class="container">
        <table>
        <tr>
            <th>Nro Pedido</th>
            <th>Producto</th>
            <th>Facturas</th>
        </tr>
   {% for item in data.orders %}
            <tr>
                <td>{{ item.nro_pedido}}</td>
                <td>{{ item.product}}</td>
                <td>{{ item.invoices}}</td>
            </tr>
        {% endfor %}
        </table>
</div>
{% endblock content %}