{% extends "base/base.html" %}
{% block content %}   
    <!-- cards -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-3"></div>
          <div class="col-6 text-center text-light border bg-secondary">SGI {{ request.enterprise['nombre']}} </div>
          <div class="col-3"></div>
        </div>
        <div class="row border bg-light">
          <div class="col-3 text-center text-dark"> <i class="fas fa-puzzle-piece text-success"></i> IMPORTACIONES</div>
          <div class="col-3 text-center text-dark"><i class="fas fa-puzzle-piece text-primary"></i> CONTABILIDAD</div>
          <div class="col-3 text-center text-dark"><i class="fas fa-puzzle-piece text-info"></i> AUDITORIA</div>
          <div class="col-3 text-center text-dark"><i class="fas fa-puzzle-piece text-secondary"></i> REPORTES</div>
        </div>
        <div class="row">
          <div class="col-3">
            <ul class="list-group">
              <li class="list-group-item list-group-item-action"><i class="fas fa-list text-dark"></i> <a href="/pedidos/listar/" class="text-dark"> LISTA PEDIDOS</a></li>
              <li class="list-group-item list-group-item-action"><i class="fas fa-user-friends text-dark"></i> <a href="/admin/suppliers/supplier/" class="text-dark"> LISTA PROVEEDORES</a></li>
              <li class="list-group-item list-group-item-action"><i class="fas fa-boxes text-dark"></i> <a href="/productos/" class="text-dark"> LISTA PRODUCTOS</a></li>
              <li class="list-group-item list-group-item-action"><i class="fas fa-file-invoice text-dark"></i> <a href="/admin/paids/paidinvoice/" class="text-dark"> JUSTIFICACIONES</a></li>
              <li class="list-group-item list-group-item-action"><img src="http://179.49.60.158:8888/img/sap.png"/ style="width:20px;height: auto;"> <a href="/sap/importar-pedidos/" class="text-dark"> IMPORTAR DESDE SAP</a></li>
              <li class="list-group-item list-group-item-action"><img src="http://179.49.60.158:8888/img/almagro.png" style="width:25px;height: auto;"> <a href="/almagro/importar/" class="text-dark"> IMPORTAR DESDE ALMAGRO</a></li>
              <li class="list-group-item list-group-item-action"><img src="http://179.49.60.158:8888/img/sap.png"/ style="width:20px;height: auto;"> <a href="/sap/productos/" class="text-dark"> EXAMINAR PRODUCTOS SAP</a></li>
              <li class="list-group-item list-group-item-action"><i class="fas fa-tags text-success"></i> <a href="/etiquetas/pedidos/" class="text-dark"> ETIQUETADO CFS</a></li>
              <li class="list-group-item list-group-item-action"><i class="fas fa-cogs text-success"></i> <a href="/etiquetas/manager/" class="text-dark"> MANAGER CFS</a></li>

            </ul>
          </div>
          <div class="col-3">
            <ul class="list-group">
              <li class="list-group-item list-group-item-action"> <i class="fas fa-list text-primary"></i> <a href="/pedidos/listar/" class="text-dark">COSTEO DE PEDIDOS</a></li>
              <li class="list-group-item list-group-item-action"> <i class="fas fa-book text-primary"></i> <a href="/costos/saldo-mayor-general/" class="text-dark">SALDO MAYOR GENERAL</a></li>
              <li class="list-group-item list-group-item-action"> <i class="fas fa-file-code text-primary"></i> <a href="/costos/ice-xml/" class="text-dark">GENERAR XML DE ICE</a></li>
            </ul>
          </div>
          <div class="col-3">
            <ul class="list-group">
              <li class="list-group-item list-group-item-action"><i class="fas fa-file-invoice text-info"></i> <a href="/auditoria/" class="text-dark">REVISION DE FACTURAS</a></li>
              <li class="list-group-item list-group-item-action"><i class="fas fa-search-dollar text-info"></i> <a href="/reportes/analisis-costos/" class="text-dark">ANALISIS DE COSTOS</a></li>
              <li class="list-group-item list-group-item-action"> <i class="fas fa-search-dollar text-primary"></i> <a href="/reportes/ultimo-costo/" class="text-dark">ULTIMO COSTO</a></li>
            </ul>
          </div>
          <div class="col-3">
              <li class="list-group-item list-group-item-action"><i class="fas fa-chart-line"></i> <a href="/reportes/activos/" class="text-dark">PEDIDOS EN INTERNACION</a></li>
              <li class="list-group-item list-group-item-action"><i class="fas fa-chart-line"></i> <a href="/reportes/activos/" class="text-dark">PEDIDOS CON SALDO ALMAGRO</a></li>
              <li class="list-group-item list-group-item-action"><i class="fas fa-chart-line"></i> <a href="/reportes/procesos-activos/" class="text-dark">PROCESOS NACIONALIZACION</a></li>
              <li class="list-group-item list-group-item-action"><i class="fas fa-chart-line"></i> <a href="/reportes/ice/" class="text-dark">REPORTE ICE</a></li>
              <li class="list-group-item list-group-item-action"><i class="fas fa-chart-line"></i> <a href="/reportes/provisiones/" class="text-dark">REPORTE DE PROVISIONES</a></li>
              <li class="list-group-item list-group-item-action"><i class="fas fa-chart-line"></i> <a href="{{ data.url_almagro_report}}" target="_blank"  class="text-dark">REPORTE ALMANET</a></li>
              <li class="list-group-item list-group-item-action"><i class="fas fa-chart-line"></i> <a href="/reportes/llegadas/bodega/local/" class="text-dark">LLEGADAS A BODEGA</a></li>
              <li class="list-group-item list-group-item-action"><i class="fas fa-chart-line"></i> <a href="/reportes/anexo-ice/2020/12/" class="text-dark">ANEXO ICE</a></li>
          </div>
        </div>
      </div>
    </section>
    <!-- end of tebles -->
    <hr>   
  </body>
</html>
{% endblock %} text-secondary
 text-secondary
 text-secondary
 text-secondary