<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Eduardo Villota eduardouio7@gmail.com">
    <meta name="description" content="Aplicacion de Manejo de importaciones">
    <link rel="stylesheet" href="{{ static('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ static('css/cordovez.css') }}">
    <style>@page {size: auto;}</style>
    <!-- <link rel="stylesheet" href="{{ static('css/animate.css') }}"> -->
    <link rel="icon" href="{{ static('favicon.ico') }}" type="image/x-icon"/>
	<link rel="shortcut icon" href="{{ static('favicon.ico') }}" type="image/x-icon"/>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>Inicio de Sesión</title>
    <style>
     body { 
         background: url('http://179.49.60.158:8888/cordovez/img/appbackground.jpg') no-repeat center center fixed; 
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;
         }
         .panel-default {
         opacity: 0.9;
         margin-top:30px;
         }
         .form-group.last { margin-bottom:0px; }
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <style>
    html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 15x;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
</head>
  <body class="text-center">
    <form class="form-signin" action="" method="post" >
    {{ csrf_input }}
    {% if request.GET['error'] %}
    <strong class="text-danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Error en Clave o Usuario</strong>
    {% endif %}
    {% if have_next %}
      <input type="hidden" name="next" value="{{ next }}">
    {% endif %}
  <img class="mb-4" src="{{ enterprise.url_logo }}" alt="{{ enterprise.nombre }}" style="width:250px;height:auto;">
  <span>{{ enterprise.nombre }}</span>
  <label for="inputEmail" class="sr-only">Usuario</label>
  <input type="text" id="inputEmail" name="username" class="form-control" placeholder="Usuario" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Recu&eacute;rdame
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesi&oacute;n</button>
  <p class="mt-5 mb-3 text-muted">Todos los derechos reservados <br/>  {{ enterprise.direccion }} &copy; 2020 <br>
  <small>Desarrollado por Eduardo Villota eduardouio7@gmail.com </small> </p>
</form>

</body>
</html>
