{% extends 'base/base.html' %}
{% block title_content %}
<div class="row border">
   <div class="col-4">
      <i class="fa fa-folder"></i>
      <small><i class="fas fa-user"></i> ACTUALIZAR PROCESOS DE ADUANIZACION</small> 
   </div>
   <div class="col-8 text-right">
      <span>{{ request.enterprise.nombre }}</span>
   </div>
</div>
{% endblock title_content %}
{% block content %}
<div class="row">
  <div class="col text-center">
    <h5 class="text-info">ACTUALIZAR PROCESOS</h5>
  </div>
</div>
<div class="row">
    <div class="col">
      
    </div>
    <div class="col">
      
    </div>
    <div class="col">
      
    </div>
    <div class="col">
      
    </div>
    <div class="col">
      
    </div>
</div>
{% endblock content %}