{% extends 'base/base.html' %}
{% block header %}
<!--cARGAMOS LIBRERIAS ADICIONALES PARA MOSTRAR LA TABLA-->
<link rel="stylesheet" href="{{ static('css/jquery.dataTables.min.css') }}">
<script src="{{ static('js/jquery.dataTables.min.js') }}"></script>
{% endblock %}
{% block title_content %}
    <div class="row border">
   <div class="col-8">
      <i class="fa fa-list"></i>
      Reporte de pedidos Activos Pedidos disponibles {% if data.data %}  {{ data.data.__len__() }} {% endif %}
   </div>
   <div class="col-4 text-right">SGI <small>[Sistema Gestón de Importaciones] Reportes</small></div>
</div>
{% endblock title_content %}
{% block content %}
<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-4">
            <form class="form-inline" method="get">
                <div class="form-check mb-2 mr-sm-2">
                    <input class="form-check-input" type="checkbox" id="inlineFormCheck" name="ignore_liquidated" {% if request.GET.ignore_liquidated  == 'on'%} checked {%endif%} >
                    <label class="form-check-label" for="inlineFormCheck">
                        <strong>
                            Quitar producto en proceso de nacionalización
                        </strong> 
                    </label>
                </div>
                <button type="submit" class="btn btn-outline-primary btn-sm"> <i class="fas fa-sync"></i> Actualizar</button>
            </form>
        </div>
        <div class="col-4 text-center text-secondary"> <h6>REPORTE DE PEDIDOS QUE MANTIENEN SALDO</h6></div>
        <div class="col-4 text-right">
            <a href="?check_all_orders=on" class="btn btn-outline-info"> <i class="fas fa-broom"></i> Depurar Pedidos</a>
            <br>
            <small class="text-secondary">Escanea de todos los pedidos y comprueba el saldo.</small>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-condensed table-bordered table-hover" id="ReproteActivos">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Pedido</th>
                        <th>Reg</th>
                        <th>DAI</th>
                        <th>Proveedor</th>
                        <th>Matrícula</th>
                        <th>Producto</th>
                        <th>Cap Ml</th>
                        <th>Cajas</th>
                        <th>CxC</th>
                        <th>Unds</th>
                        <th>Costo Caja</th>
                        <th>F Arribo</th>
                        <th>F Almacenera</th>
                        <th>TMP</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for det in data.data %}
                    {% set outer_loop = loop %}
                    {% for sale in det.sale.sale %}
                    <tr 
                        {% if outer_loop.index %2 == 0 %}
                            class="bg_sap"
                        {% endif %}
                    > 
                        <td>{{ outer_loop.index }}</td>   
                        <td> <a href="{{ request.enterprise.url_app_importaciones }}index.php/pedido/presentar/{{det.order.nro_pedido}}" target="_blank">{{ det.order.nro_pedido }}</a></td>
                        <td>R{{ det.order.regimen }}</td>
                        <td>{{ det.order.nro_refrendo }}</td>
                        <td>{{ det.order.proveedor }}</td>
                        <td>
                            {% if det.order.regimen == '10' %}
                                ---
                            {% else %}
                                {{ det.order.nro_matricula }}
                            {% endif %}
                        </td>
                        <td>{{ sale.product.cod_contable }}</td>
                        <td class="text-right">{{ sale.product.cod_contable.capacidad_ml }}ml</td>
                        <td class="text-right">{{ sale.nro_cajas }}</td>
                        <td class="text-right">{{ sale.product.cod_contable.cantidad_x_caja }}</td>
                        <td class="text-right">{{ sale.product.cod_contable.cantidad_x_caja *  sale.nro_cajas }}</td>
                        <td class="text-right">{{ sale.costo_caja }}</td>
                        <td class="text-right text-center">
                            {% if det.order.fecha_arribo %}
                                {{ det.order.fecha_arribo }}                                
                            {% else %}
                                ---
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if det.order.regimen == '70'%}
                                {% if det.order.fecha_ingreso_almacenera %}
                                    {{ det.order.fecha_ingreso_almacenera }}
                                {% else %}
                                    ---
                                {% endif %}
                            {% else %}
                                {% if det.order.fecha_llegada_cliente %}
                                    <strong>{{ det.order.fecha_llegada_cliente }}</strong>
                                {% else %}
                                    <strong>---</strong>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if det.order.regimen == '70' %}
                                {% if det.monts < 9 %}
                                    <strong>{{ det.monts }}M</strong>
                                {% elif det.monts > 8 and det.monts < 10  %}
                                    <strong class="text-warning">{{ det.monts }}M</strong>
                                {% else %}
                                    <strong class="text-danger"> {{ det.monts}}M</strong>
                                {% endif %}
                            {% else %}
                            ---
                            {% endif %}
                        </td>
                        {% if det.order.regimen == '70' %}
                            {% if det.order.fecha_ingreso_almacenera %}
                                <td class="text-success">DISPONIBLE</td>
                            {% else %}
                                <td class="text-primary">TRANSITO</td>
                            {% endif %}
                        {% else %}
                            {% if det.order.fecha_llegada_cliente %}
                            <td>NACIONALIZADO</td>
                            {% else %}
                            <td class="text-primary">TRANSITO</td>
                            {% endif %}
                        {% endif %}
                         </tr>
                    {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% block footer %}
<script>
    $(document).ready( function () {
    $('#ReproteActivos').dataTable();
} );
</script>
{% endblock %}
{% endblock content %}