{% extends 'base/base.html' %}
{% block header %}
<!--cARGAMOS LIBRERIAS ADICIONALES PARA MOSTRAR LA TABLA-->
<link rel="stylesheet" href="{{ static('css/jquery.dataTables.min.css') }}">
<script src="{{ static('js/jquery.dataTables.min.js') }}"></script>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="border">
        <div class="row">
            <div class="col-8">
                <h5 class="text-primary">Reporte De Producto Llegado a Bodega</h5>
            </div>
            <div class="col-4 text-right">
                <span class="text-muted"> Se encontraron {{ data.report.__len__() }} registros</span>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label for="inputEmail4">Año</label>
                            <select class="form-control form-control-sm" name="year" >
                                <option value="0" disabled>Todos</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputPassword4">Mes</label>
                            <select class="form-control form-control-sm" name="mont" >
                                <option value="0">Todos</option>
                                <option value="1">Enero</option>
                                <option value="2">Febrero</option>
                                <option value="3">Marzo</option>
                                <option value="4">Abril</option>
                                <option value="5">Mayo</option>
                                <option value="6">Junio</option>
                                <option value="7">Julio</option>
                                <option value="8">Agosto</option>
                                <option value="9">Semptiembre</option>
                                <option value="10">Octubre</option>
                                <option value="11">Noviembre</option>
                                <option value="12">Diciembre</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <br>
                            <button class="btn btn-sm btn-outline-primary" ><i class="fa fa-search"></i> Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-4 text-left">
                {% if request.GET.year %}
                    {% if request.GET.mont == "0" %}
                    <h5 class="text-info">Mostrando pedidos llegados el año {{ request.GET.year }} </h5>
                    {%else%}
                    <h5 class="text-info">Mostrando pedidos llegados el mes {{ request.GET.mont }} del año {{ request.GET.year }} </h5>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {% if data.report %}
            <table class="table table-bordered table-hover table-striped" id="reportellegadas">
                <thead>
                <tr>
                    <th>#</th>
                    <th>ID</th>
                    <th>IDF</th>
                    <th>Nro Pedido</th>
                    <th>IDP</th>
                    <th>Proveedor</th>
                    <th>Nro. Referendo</th>
                    <th>Producto</th>
                    <th>Cap Ml</th>
                    <th>Nro Cajas</th>
                    <th>Unds</th>
                    <th>F Llegada</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data.report %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        {% for k in item %}
                            <td nowrap>{{item[k]}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        {% else %}
        <h5>Nada para mostrar</h5>
        {% endif %}
        </div>
    </div>
</div>
{% block footer %}
<script>
    $(document).ready( function () {
    $('#reportellegadas').dataTable();
} );
</script>
{% endblock %}
{% endblock content %}