{% extends 'base/base.html' %}
{% block title_content %}
<div class="row border">
   <div class="col-7">
      <i class="fa fa-folder"></i> 
	  <span>
	  	Listado de archivos subidos al Sistema de Gestión de Importaciones <strong>SGI</strong> 
	  </span>		      
   </div>
   <div class="col-5 text-right">
	Archivos Subidos Al Servidor
   </div>
</div>
{% endblock title_content %}
{% block content %}
	<div class="container">   
   <div class="row">
      <div class="col-12">
      <span class="text-primary">
      <a href="/archivos/subir/" class="btn btn-sm btn-outline-primary"> <i class="fas fa-upload"></i> Subir Archivo</a>
      </span>
<form class="form-inline" style="float:right" method="get">
  <div class="form-group mb-2">
    <input type="text" name="query" paceholder="Buscar">
  </div>  
  <button type="submit" class="btn btn-primary mb-2"><i class="fas fa-search"></i></button>
</form>
   <table class="table table-condensed table-bordered">
   <thead>
   <tr>
   <th>#</th>
   <th>Proveedor</th>
   <th>Pedido</th>
   <th>Parcial</th>
   <th>Tipo</th>
   <th>Nombre</th>
   <th>Usuario</th>
   <th>Fecha</th>
   <th>Acciones</th>
   </tr>
   </thead>
   <tbody>
   <tr>
      <td class="text-right">1</td>      
      <td>Pratac</td>
      <td class="text-center">009-18</td>
      <td class="text-center">0</td>
      <td>DAI</td>
      <td>028-2019-70-00009871</td>
      <td>Eduardo Villota</td>
      <td>2018-10-12 00:21:21</td>
      <td class="text-right">
      <a href="#">
         <li class="fas fa-download"></li>
         Descargar
      </a>
      &nbsp;&nbsp;
      <a href="#">
         <li class="fas fa-pencil-alt"></li>
         Editar
      </a>
      &nbsp;&nbsp;
      <a href="#" class="text-danger">
         <li class="fas fa-trash-alt"></li>
         Eliminar
      </a>
      </td>
   </tr>
   </tbody>
   </table>
   </div>
   </div>
   </div>
{% endblock content %}
